<h1>Add a new word to your dictionary </h1>

<form action="/word_definition" method="post">

  <p><label for='word'>Word:</label>
  <input id='word' name='word' type='text'></p>

  <p><label for='definition'>Definition:</label>
  <input id='definition' name='definition' type='text'></p>

  <button type="submit">Add your Word</button>
</form>
